<mat-card class="item-card">
  <mat-card-header class="item-card-header">
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle class="item-card-subtitle">{{item.description}}</mat-card-subtitle>
  </mat-card-header>
  <img class="item-card-img" mat-card-lg-image src="{{ item.imageUrl }}" alt="Photo of cup">
  <mat-card-content class="item-card-content">
    <span>Prix: {{ item.price}} €</span>
    <span>Quantité: {{ item.quantity}}</span>
  </mat-card-content>
  <mat-card-actions class="item-card-action">
    <button mat-button (click)="addItem()">+</button>
    <button mat-button (click)="removeItem()" *ngIf="item.quantity > 0">-</button>
    <button mat-button (click)="addItemToCart(item)" *ngIf="item.quantity > 0">Ajouter au panier</button>
    <button mat-button [routerLink]="['/item', item.id]" routerLinkActive="router-link-active">Détails</button>
  </mat-card-actions>
</mat-card>
