.small-like {
  background-color: #182039;
}

.medium-like {
  background-color: #212b4e;
}

.big-like {
  background-color: #3e64ff;
}

.card {
  margin: 20px auto;
  width: 50%;
  color: #ffffff;
}

.header-card {
  margin: auto;
  display: flex;
  justify-content: center;
}

.subtitle-card {
  color: #ffffff;
}

.card-footer {
  padding: 0 0 20px 20px;
}

.none {
  display: none;
}
