<app-return class="return-icon-cmp"></app-return>
<mat-card class="basket-card-block" *ngIf="basket.products.length > 0">
  <div>
    <mat-card-footer class="basket-card-footer">
      Total du panier: {{ basket.totalPrice }} €
    </mat-card-footer>
    <mat-card class="basket-card" *ngFor="let product of basket.products; let index = index">
      <mat-card-header class="basket-card-header">
        <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="basket-card-content">
        <span>Prix Unitaire: {{ product.price }} €</span>
        <span>Quantité: {{ product.quantity }}</span>
        <span>Prix total: {{ product.totalPrice }}</span>
      </mat-card-content>
      <mat-card-actions class="basket-card-action">
        <button mat-button (click)="addItem(index)">+</button>
        <button mat-button (click)="removeItem(index)" *ngIf="product.quantity > 0">-</button>
        <button mat-button (click)="removeItemToCart(product)">X</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
<mat-card class="basket-card-empty" *ngIf="basket.products.length === 0">
  <mat-card-content>
    <span>Votre panier est vide !</span>
  </mat-card-content>
</mat-card>
