/* td,
th {
  width: 50px;
  height: 80px;
} */

td {
  max-width: 50px;
  width: 50px;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td > input:focus {
  width: 90%;
  height: 90%;
}

th {
  width: 25px;
  height: 40px;
}
